
//colors
$colors:(
  'primary': #db9e3f,
  'white': #fff,
  'light': #f9f9f9,
  'gary': #999,
  'dark': #222222,
  'dark-1': #343440,
  'dark-2': #666,
  'dark-3':#333,
  'dark-4':#d4d9de,
  'black': #000,
  'info': #4b67af
);


$border-color: map-get($colors,'dark-4');

//font-size
$base-font-size: 1rem;
$font-sizes:(
  xxs: 0.6154,  //8px
  xs: 0.7692, //10px
  s: 0.9231,  //12px
  m: 1,         //13px
  l: 1.0769, //14px
  xl: 1.2308 //16px
);

//flex

.d-flex{
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-column{
  flex-direction: column;
}

.flex-1{
  flex:1
}

.flex-grow-1{
  flex-grow: 1;
}

$flex-jc:(
  start: flex-start,
  center: center,
  end: flex-end,
  between: space-between,
  around: space-around
);

$flex-ai:(
  start: flex-start,
  center: center,
  end: flex-end,
  between: space-between,
  around: space-around
);


// spacing
// 0-5:0
// mt-1 => margin-top .pb-2

$spacing-types:(
  m:margin,
  p:padding
);

$spacing-directions:(
  t:top,
  b:bottom,
  l:left,
  r:right
);

$spacing-base-size:1rem;
$spacing-size:(
  0:0,
  1:0.25,
  2:0.5,
  3:1,
  4:1.5,
  5:3
);

//width,height
.w-100{
  width: 100%;
}

.h-10{
  height: 100%;
}

.btn{
  border: none;
  border-radius: 0.1538rem;
  font-size: map-get($font-sizes,'s') * $base-font-size;
  padding: 0.4rem 0.6rem;
}

//nav
.nav{
  display: flex;
  .nav-item {
    border-bottom: 3px solid transparent;
    padding-bottom: 0.1rem;
  &.active {
    color:map-get($colors, 'primary');
    border-bottom: 3px solid map-get($colors , 'primary');
   }
   &.active-severse{
    color:map-get($colors, 'white');
    border-bottom: 3px solid map-get($colors , 'white');
    }
  }
}
